.card {
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
    height: fit-content;
    position: relative;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    background-color: #f8f9fa;
}

.card__image-container {
    position: relative;
    width: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

.card__image {
    border-radius: 3px;
    object-fit: cover;
}

.card__body {
    padding: 0px;
    margin: 10px 12px;
}

.card__reviewnumber {
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.card__price {
    font-size: 20px;
    font-weight: bold;
}

.card__button {
    margin: 10px 12px 20px 12px;
}
