.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}

.hero__call-to-action {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__call-to-action-title {
    position: absolute;
    top: 10%;
    font-size: 60px;
    z-index: 3;
    max-width: 500px;
}

.hero__call-to-action-subtitle {
    padding-top: 100px;
    font-size: 24px;
    max-width: 200px;
}

.hero_call-to-action-button {
    position: absolute;
    bottom: 0%;
}

.hero__image-and-agent {
    position: relative;
    width: 100%;
}

.hero__image-container {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 500px;
}

.hero__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* .hero__agent-information {
    position: absolute;
    display: flex;
    align-items: flex-end;
    background-color: black;
    color: white;
    bottom: 3%;
    width: 60%;
    height: 300px;
    padding: 15px 40px;
    z-index: 1;
} */

/* .hero__agent-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hero__agent-image {
    object-fit: cover;
    border-radius: 50%;
}

.hero__agent-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 7px;
    z-index: 2;
}

.hero__agent-button {
    display: flex;
    margin-left: auto;
    gap: 10px;
    z-index: 2;
} */
